<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Popular Apps on Google Play</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
  <div class="wrapper">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html">Google Play Store Trends</a>
            <img class="nav-ufo" src="">
          
        </div>
      </div>
    </nav>
    <div class="hero text-center">
      <h1>Most Popular Apps on Google Play Store</h1>
      <p>These are the ones that Android’s two billion active users have downloaded most frequently</p>
    </div>
    <div id="plot"></div>
    <script>
var trace1 = {
  x: [{{dat}}],
  y: [{{mat}}],
  type: "bar"
};

var data = [trace1];

var layout = {
  title: "'Bar' Chart"
};

Plotly.newPlot("plot", data, layout);
</script>
    <div class="container">
      <div class="row margin-top-50">
        
    </div>
    <footer class="footer">
      <span class="bottom">Google Apps</span>
    </footer>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
  <script src="static/js/data.js"></script>
  <script src="static/js/app.js"></script>
  <script src="static/js/plot.js"></script>
</body>

</html>
